<!DOCTYPE html>
<html>
  <head>
    <title>Rusell Bedford</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  	  <div class="container">
  	    <%= link_to image_tag("logos/logo.png", width: '200px'), root_path, class: "navbar-brand" %>
  	        
  	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  	      <span class="navbar-toggler-icon"></span>
  	    </button>

  	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  	      <ul class="navbar-nav mr-auto">

  	        <%= link_to "Inicio", root_path, class: "nav-item nav-link " + current_class?(root_path) %>
  	        <%= link_to "Reportes", reportes_path, class: "nav-item nav-link " + current_class?(reportes_path) %>
  	        
  	      </ul>

  	      <ul class="navbar-nav ml-auto">
  	        
  	        <% if user_signed_in? %>

  	          <li class="nav-item dropdown">
  	            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	              <i class='far fa-user'></i>
  	              <button><%= current_user.email.truncate(20) %></button><br />
  	              <button><%= current_user.role.customer.name.truncate(20) %></button>
  	            </a>
  	            <div class="dropdown-menu">
  	              <% if current_user.admin %>
  	                <%= link_to "Administrar", administrar_index_path, class: "dropdown-item" %>
  	              <% end %>
  	              <%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %>
  	              <div class="dropdown-divider"></div>
  	              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  	            </div>
  	          </li>

  	        <% else %>
  	          <li class="nav-item"><%= link_to "Ingresar", new_user_session_path, class: "nav-link" %></li>

  	          <% if false %>
	  	          <li class="nav-item"><%= link_to "Registrarse", new_user_registration_path, class: "btn btn-danger" %></li>
	  	      <% end %>

  	        <% end %>
  	        
  	      </ul>
  	    </div>
  	  </div>
  	</nav>

    <div class="container mt-3">

      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
